.Asteroid {
  // Position
  position: absolute;
  right: 0;

  // Shape
  height: 80px;
  width: 80px;

  // Colour
  opacity: 0;

  // Responsive Design
  @media screen and (min-width: 1200px) and (orientation: landscape) {
    animation: TranslateAsteroid 6s linear infinite;
  }
}

.HighPosition {
  top: 100vh;
}

.MidPosition {
  top: 105vh;
}

.LowPosition {
  top: 110vh;
}

.Delay1s {
  animation-delay: 1s;
}

.Delay3s {
  animation-delay: 3s;
}

.Delay5s {
  animation-delay: 5s;
}

.Delay6s {
  animation-delay: 6s;
}

.Delay9s {
  animation-delay: 9s;
}

@keyframes TranslateAsteroid {
  0% {
    transform: translate(0, 0) rotate(75deg);
    opacity: 0.5;
  }

  85% {
    opacity: 0.5;
  }

  100% {
    transform: translate(-94vw, 30vw) rotate(75deg);
  }
}
