.Asteroid {
  // Position
  position: absolute;
  right: 0;

  // Shape
  height: 80px;
  width: 80px;

  // Colour
  opacity: 0%;
}

.AnimateAsteroidHigh {
  // Position
  top: 90vh;

  // Animation
  animation: TranslateHigh 6s linear infinite;
  @keyframes TranslateHigh {
    0% {
      transform: translate(0, 0) rotate(70deg);
      opacity: 50%;
    }
    85% {
      opacity: 50%;
    }
    100% {
      transform: translate(-94vw, 100vh) rotate(70deg);
    }
  }
}

.AnimateAsteroidMid {
  // Position
  top: 100vh;

  // Animation
  animation: TranslateHigh 6s linear infinite;
  @keyframes TranslateHigh {
    0% {
      transform: translate(0, 0) rotate(70deg);
      opacity: 50%;
    }
    85% {
      opacity: 50%;
    }
    100% {
      transform: translate(-94vw, 90vh) rotate(70deg);
    }
  }
}

.AnimateAsteroidLow {
  // Position
  top: 110vh;

  // Animation
  animation: TranslateLow 6s linear infinite;
  @keyframes TranslateLow {
    0% {
      transform: translate(0, 0) rotate(70deg);
      opacity: 50%;
    }
    85% {
      opacity: 50%;
    }
    100% {
      transform: translate(-94vw, 80vh) rotate(70deg);
    }
  }
}

.delay6s {
  animation-delay: 6s;
}
.delay9s {
  animation-delay: 9s;
}
.delay12s {
  animation-delay: 12s;
}
