.Content {
  // Shape
  width: 95vw;
  border-radius: 5rem 5rem 0 0;

  // Background
  background-image: url('../../../public/illustrations/galaxy-bg.svg'),
    linear-gradient(#191c20, #000);
  background-repeat: repeat-x;
  background-position: center 0, 0 0, 0 0;

  // Alignment
  display: flex;
  flex: 1 0 0;
  flex-direction: column;
  align-items: center;

  // Children Width
  > * {
    width: 60rem;
    max-width: 90vw;
  }

  // Spacing
  padding: 3rem 0;

  h4 {
    // Spacing (Move CodeMirror out of view)
    min-height: 3rem;
    height: 10vh;
  }
}

.CodeMirror {
  // Alignment
  display: flex;
  flex-direction: column;

  // Spacing
  margin-top: 1rem;

  // Vertical Border
  border-left: 3px solid;
  border-right: 3px solid;
  border-image: linear-gradient(to bottom, aqua, transparent) 1;

  // Shadow
  box-shadow: 0 10px 40px rgb(0 0 0 / 70%);

  // Priority
  z-index: 1;
}

.ResponseTime {
  // Position
  position: absolute;
  align-self: flex-end;
  margin: 0.5rem 0.5rem 0 0;

  // Shape
  border-radius: 0.6rem;
  width: fit-content;
  padding: 0 0.5rem;

  // Colour
  border: 1px solid rgba(255, 255, 255, 0.2);

  // Priority
  z-index: 2;

  // Alignment
  display: flex;

  svg {
    // Icon styling
    margin: 1px 4px 0 0;
    opacity: 0.9;
  }
}

.SearchButtons {
  // Alignment
  display: flex;
  gap: 8px;
}

.IconButton {
  // Shape
  height: 26px;
  width: 26px;

  // Square Border
  border: 1px solid #4d4f56;
}

.DeathStar {
  // Position
  position: absolute;
  right: -3vw;
  top: calc(80vh + 25rem);

  // Shape
  width: 25vw;
  height: 25vw;
  clip-path: inset(0 5vw 0 0);

  // Transparency
  mask-image: linear-gradient(to bottom, rgb(0 0 0 / 90%), transparent);
}

.Subtitle {
  // Clipped text background
  background: linear-gradient(90deg, #fff, #171a1e);
  background-position-x: -1000%;
  background-repeat: no-repeat;
  background-clip: text;
  background-size: 80%;

  // Transparent text
  -webkit-text-fill-color: rgb(255 255 255 / 0%);
  color: transparent;

  // Animation
  animation: FadeInSubtitle 6s linear 3s forwards;
  @keyframes FadeInSubtitle {
    from {
      background-position-x: -1000%;
    }

    to {
      background: white;
      background-clip: text;
      background-position-x: 1000%;
    }
  }
}
