.content {
  width: 61rem;
  max-width: 90vw;
}

.CodeMirror {
  // Spacing
  margin-top: 1rem;

  // Vertical Border
  border-left: 3px solid;
  border-right: 3px solid;
  border-image: linear-gradient(to bottom, aqua, transparent) 1;

  // Shadow
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.7);

  // Scrollbar
}
