/* This file contains styles intended to influence the entire project */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide horizontal scrollbar for page root */
:root {
  overflow-x: hidden;
}

/* Global scrollbar styling for common browsers */
* {
  // Required: Gecko (Firefox)
  scrollbar-color: theme('colors.complement.tertiary') theme('colors.base.tertiary');
  scrollbar-width: thin;

  // Required: Webkit (Safari & Chromium)
  ::-webkit-scrollbar {
    width: 9px;
    height: 9px;
  }
  ::-webkit-scrollbar-track {
    background-color: theme('colors.base.tertiary');
  }
  ::-webkit-scrollbar-thumb {
    background-color: theme('colors.complement.tertiary');
  }
}
