@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global scrollbar styling for common browsers */
:root {
  // Required: Gecko (Firefox)
  scrollbar-color: rgb(180 136 17 / 80%) #202020;
  scrollbar-width: thin;

  // Required: Webkit (Safari & Chromium)
  ::-webkit-scrollbar {
    width: 9px;
    height: 9px;
  }
  ::-webkit-scrollbar-track {
    background-color: #202020;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgb(180 136 17 / 80%);
  }
}
