.Content {
  // Responsive Design
  --section-height: 85vh;
  @media screen and (min-height: 1000px) and (min-width: 750px) {
    --section-height: 90vh;
  }

  // Shape
  height: var(--section-height);
  width: 100vw;
  padding: 10vh 10vw;

  // Alignment
  display: flex;
  align-items: center;

  // Background
  background-image: url('../../../public/illustrations/lines.svg');
  background-size: cover;
  background-repeat: no-repeat;

  // Animation
  animation: TranslateFetchSection 3s;
  @keyframes TranslateFetchSection {
    from {
      height: 100vh;
    }

    to {
      height: var(--section-height);
    }
  }
}

.Title {
  // Alignment
  display: flex;
  flex: 1 0 0;
  flex-direction: column;
  justify-content: center;

  h1 {
    // Prevent user highlighting text
    user-select: none;
  }

  span {
    // Text
    background: linear-gradient(45deg, #cab381, #b48811, #a2790d, #bb9b49);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-decoration: underline white 1px;
    text-underline-offset: 6px; // (Required: Chromium)
  }
}

.Logo {
  // Position
  margin-right: 3rem;
}

.Title,
.Logo {
  // Animation
  animation: TranslateTitleSection 3s;
  @keyframes TranslateTitleSection {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}

// Responsive Design
@media screen and (max-width: 500px) {
  .Content {
    flex-direction: column;
    padding: 5vh 5vw;
  }

  .Title {
    text-align: center;
  }

  .Logo {
    margin-right: 0;
  }
}

// Responsive Design
@media screen and (max-height: 500px) and (orientation: landscape) {
  .Title {
    margin-top: 2rem;

    h1 {
      font-size: 3.5rem;
    }
  }
}
