.Content {
  // Shape
  height: 85vh;
  width: 100vw;
  padding: 10vw;

  // Alignment
  display: flex;
  align-items: center;

  // Background
  background-image: url('../../../public/illustrations/lines.svg');
  background-size: cover;
  background-repeat: no-repeat;

  // Animation
  animation: TranslateFetchSection 3s;
  @keyframes TranslateFetchSection {
    from {
      height: 100vh;
    }

    to {
      height: 85vh;
    }
  }
}

.Title {
  // Alignment
  display: flex;
  flex: 1 0 0;
  flex-direction: column;
  justify-content: center;

  h1 {
    // Prevent user highlighting text
    user-select: none;
  }

  span {
    // Text
    background: linear-gradient(45deg, #cab381, #b48811, #a2790d, #bb9b49);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-decoration: underline white 1px;
    text-underline-offset: 6px; // (Required: Chromium)
  }
}

.Logo {
  // Position
  margin-right: 3rem;
}

.Title,
.Logo {
  // Animation
  animation: TranslateTitleSection 3s;
  @keyframes TranslateTitleSection {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}
