.DeathStar {
  // Sets default position on screen
  position: absolute;
  right: -10vw;
  top: 10rem;

  // Fades SVG against background
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), transparent);

  // Sets the SVG behind the main content
  z-index: -1;
}
