.AppHeader {
  // Position
  position: absolute;
  top: 0;

  // Shape
  width: 100vw;
  padding: 0.5rem 1rem;
  background-color: #101010;

  // Split Content
  display: flex;
  align-items: center;

  > * {
    display: flex;
    flex-grow: 1;
    margin: 0 20px;
  }

  > :last-child {
    justify-content: flex-end;
    gap: 5px;
  }

  // Animation
  animation: FadeInHeader 3s;
  @keyframes FadeInHeader {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}

.Border {
  // Position
  position: absolute;

  // Shape
  width: 100vw;
  margin-top: 3.5rem;

  // Border
  border-bottom: 1px solid;
  border-image: linear-gradient(to right, #cab381, #b48811, #a2790d, #bb9b49) 1;

  // Animation
  animation: GrowHeaderBorder 3s;
  @keyframes GrowHeaderBorder {
    from {
      width: 0;
    }

    to {
      width: 100vw;
    }
  }
}

.AppName {
  // Fix centering
  margin-top: 3px;

  // Text
  font-size: large;
}

.IconTooltip {
  // Border
  border: 1px dashed #4d4f56;

  // Button Spacing
  margin: 0 5px;

  // Icon colour
  color: white;
}

.ExternalLinkIcon {
  // Position
  position: absolute;
  margin-right: -32px;
  margin-top: -27px;

  // Size
  height: 12px;
  width: 12px;

  // Colour
  color: white;
}
